	.accordion li:target > .sub-x2 {
height: 65px;
}
	.accordion li:target > .sub-x4 {
height: 129px !important;
}
	body{background:url(img/bg.png) repeat;width:960px;margin:0 auto}.footer{margin-top:50px;text-align:center;color:#666;font:bold 14px Arial}.footer a{color:#999;text-decoration:none}#wrapper-200a{width:210px;float:left;}#wrapper-200b{width:200px;float:left;margin-left:200px}#wrapper-600{clear:both;width:600px;margin-left:180px;padding-top:50px}#wrapper-200b .accordion > li:hover > a,#wrapper-200b .accordion > li:target > a {background:url(img/active.png) repeat-x}